<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit/Remove Employees</title>
</head>
<body>
<div align="center">
    <h1>Employee Details</h1>
    <table border="1" cellpadding="10">
        <thead>
        <th>Employee_ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact No</th>
        <th>Employee email</th>
        <th>Status</th>
        <th>Annual leave</th>
        <th>Casual leave</th>
        <th>Medical leave</th>
        </thead>
        <tr th:each="employee: $(employees)">
            <td th: text="${employee.empID}"></td>
            <td th: text="${employee.firstName}"></td>
            <td th: text="${employee.lastName}"></td>
            <td th: text="${employee.contactNumber}"></td>
            <td th: text="${employee.empEmail}"></td>
            <td th: text="${employee.joinDate}"></td>
            <td th: text="${employee.annualLeave}"></td>
            <td th: text="${employee.casualLeave}"></td>
            <td th: text="${employee.medicalLeave}"></td>
            <td><a th:href="@{/admin/editEmployee/{empId}(empId=${employee.empID})}">Edit</a>
                <a th:href="@{/admin/removeEmployee/{empId}(empId=${employee.empID})}">Remove</a>
            </td>

        </tr>

    </table>
</div>

</body>
</html>