<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Login</title>
</head>
<body>
<form action="#" th:action="@{/login/employee}" method="post">
  <div th:if="${error}" class="error">Invalid username or password</div>
  <div>
    <label for="EmpId">Employee Id:</label>
    <input type="text" id="EmpId" name="EmpId" required>
  </div>
  &nbsp;
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  &nbsp;
  <button type="submit">Login</button>
</form>

</body>
</html>


